<link rel="stylesheet" href="../static/css/about_style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
{% extends 'base.html' %}

{% block title %}
Bengal Explorer - About
{% endblock title %}


{% block body %}

<section class="about" id="about">
    <h1>About us</h1>
    <p>We are Bengal Explorer, a travel agency formed in 2005 and we have completed more than 1000 trips with our guests all over West Bengal. We treat our guests like family with affection. All age groups have gone to trips with us and gave us positive feedback and enjoyed themselves. As our motto suggests "Go beyond the high rises", we like to show our guests the true beauty of each district of West Bengal and take part in the rural activities as well. We also customise tour plans as per the request of our guests and provide with best accomodations possible at the lowest rate possible.</p>
    <div class="aboutimagetour">
        <img src="../static/images/group3.jpg" alt="Guests in Murshidabad" class="aboutimagegroup">
        <img src="../static/images/group2.jpg" alt="Guests in Digha" class="aboutimagegroup">
        <img src="../static/images/group1.jpg" alt="Guests in Darjeeling" class="aboutimagegroup">
    </div>
    <p>Our head office is located in Kolkata. We have over 50 employees and also in all the districts of West Bengal we have other employees. Since the inception of our company we have always tried to provide first class service to all our guests. We ensure that when a guest choses us, they should not worry about anything at all. </p>
    <div class="aboutimagetour">
        <img src="../static/images/office1.png" alt="Office Photo" class="aboutimagegroup">
        <img src="../static/images/office2.jpg" alt="Office Photo" class="aboutimagegroup">
    </div>
</section>


{% endblock body %}