<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <nav class="navbar h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="static/images/logo.png" alt="Logo"></div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/services">Services</a></li>
        </ul>
        <button class="booking v-class-resp"><a href="/contact">Book now</a></button>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    {% block body %} {% endblock body %}


    <footer>
        <p>www.bengalexplorer.com | &copy; All rights reserved</p>
    </footer>
    <script src="../static/js/resp.js"></script>
</body>
</html>