<link rel="stylesheet" href="../static/css/contact_style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
{% extends 'base.html' %}

{% block title %}
Bengal Explorer - Contact
{% endblock title %}


{% block body %}

<section class="contact" id="contact">
    <h1>Contact us</h1>
    <p>You can contact us on +91-9836889752 or on 033-2335-1488. You can also fill in the form below and submit it and we will contact you back within 24 hours.</p>
    <div>
        <form action="/contact" class="form" method="post">
            {% csrf_token %}
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="phone" name="phone" id="phone" placeholder="Enter your phone number">
            <input type="email" name="email" id="email" placeholder="Enter your email address">
            <textarea name="desc" id="desc" cols="30" rows="10" placeholder="Please write here what kind of tour you want or if you have any question. We will contact you back within 24 hours."></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
    <p>You can also use the below formats for contacting us. Click on any to contact via that.</p>
    <div class="contactLogo">
        <a href="mailto:bengalexplorer@gmail.com" target="_blank"><img src="../static/images/contact_logo1.png" alt="Gmail logo"></a>
        <a href="https://facebook.com/bengalexplorer.com" target="_blank"><img src="../static/images/contact_logo2.png" alt="Facebook logo"></a>
        <a href="https://instagram.com/bengalexplorer.com" target="_blank"><img src="../static/images/contact_logo3.png" alt="Instagram logo"></a>
        <a href="https://wa.me/+919038745897?text=bengalexplorer" target="_blank"><img src="../static/images/contact_logo4.png" alt="Whatsapp"></a>
    </div>
</section>


{% endblock body %}