<link rel="stylesheet" href="../static/css/contact2_style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
{% extends 'base.html' %}

{% block title %}
Bengal Explorer - Message sent
{% endblock title %}


{% block body %}

<section class="contact2">
    <p class="para1">Thank you for contacting us. The message has been sent successfully. We will contact you back within 24 hours.</p>
    <p class="para2"><a href="/">To go back to home page click here</a></p>
</section>



{% endblock body %}