<link rel="stylesheet" href="../static/css/home_style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
{% extends 'base.html' %}


{% block title %}
Bengal Explorer - Home
{% endblock title %}


{% block body %}

<section class="firstSection background">
    <div class="box-main" id="home">
        <div class="firstHalf">
            <p class="text-big">Bengal Explorer- Go Beyond The High Rises</p>
            <p class="text-small">Lets explore bengal in its truest sense. From the hills of Darjeeling to the jungles of Sundarban. Wake up to the sound of sea in Digha or to the sound of folk music in Shantiniketan. Watch the Hazarduari palace in Murshidabad or the Terracota temples in Bishnupur. Enjoy the serenic beauty of Kalimpong or offer your worship to Maa Tara in Tarapith.</p>
        </div>

        <div class="secondHalf">
            <img src="static/images/img1.webp" alt="Image">
        </div>
    </div>
    
</section>


{% endblock body %}