<link rel="stylesheet" href="../static/css/services_style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
{% extends 'base.html' %}

{% block title %}
Bengal Explorer - Services
{% endblock title %}


{% block body %}

<div class="services" id="services">
    <h1>Our Services</h1>


<section class="secRight">
    <div class="paras">
        <p class="sectionTag text-big">Darjeeling</p>
            <p class="sectionSubTag text-small">The queen of the hills is a Himalayan city in the Indian state of West Bengal. It is internationally renowned as a tourist destination for its spectacular view of Mt.Kanchandzonga, along with its tea industry and the Darjeeling Himalayan Railway, a UNESCO World Heritage site. One can have the view of entire Singalila Range along with Mt.Kanchandzonga, Bhutan Himalaya and a part of Everest range from Darjeeling. The eye caching valleys, meandering rivers and of course the lush green tea gardens are the unique features of Darjeeling .Beside all these the main attractions of this popular hill stations are Himalayan Mountaineering Institute (HMI) , Himalayan Zoo , Tiger Hill , Rock Garden , Batashiya Loop.</p>
    </div>
    <div class="thumbnail">
        <img src="../static/images/darjeeling.jpg" alt="Darjeeling" class="imgFluid">
    </div>
</section>

<section class="secRight">
    <div class="thumbnail">
        <img src="../static/images/mandarmani.jpg" alt="Mandarmani" class="imgFluid">
    </div>
    <div class="paras">
        <p class="sectionTag text-big">Mandarmani</p>
            <p class="sectionSubTag text-small">Mandarmani is a seaside resort village in East Medinipur district and at the northern end of the Bay of Bengal. It is one of the large and fast developing seaside resort village of West Bengal. Red crabs crawling around the 13 km long beach is a special attraction of Mandarmani. It is argued to be the longest driveable (drive in) beach in India. Seaside is the main attraction in Mandarmani. The sea beach is very clear due to high and low tide everyday. Its extensive seaside attracts the tourists. The sea view is extremely relaxing and will give you a cool effect. It is an ideal place to relax and refresh in a weekend. You can visit Talsari, Udaypur, Digha, Chandaneshwar Temple, Bichitrapur from here.</p>
    </div>
</section>

<section class="secRight">
    <div class="paras">
        <p class="sectionTag text-big">Sundarban</p>
            <p class="sectionSubTag text-small">The Sundarbans a UNESCO World Heritage Site is located at the South eastern tip of the 24 Paraganas district about 110 km from Kolkata. Sundarbans are a part of the worlds largest delta, formed by the mighty rivers Ganga, Brahmaputra and Meghna. It is one of the most attractive and alluring places remaining on earth, a truly undiscovered paradise. The Sundarbans is the largest single block of tidal, halophytic mangrove forests in the world. It is the largest Tiger Reserve and National Park. Apart from being a unique largest mangrove eco-system of the world, the Sundarbans has the worlds largest deltaic mangrove forests and is also home to one of Indias most iconic wildlife species - the Royal Bengal Tiger.</p>
    </div>
    <div class="thumbnail">
        <img src="../static/images/sundarban.jpeg" alt="Sundarban" class="imgFluid">
    </div>
</section>

<section class="secRight">
    <div class="thumbnail">
        <img src="../static/images/murshidabad.jpg" alt="Murshidabad" class="imgFluid">
    </div>
    <div class="paras">
        <p class="sectionTag text-big">Murshidabad</p>
            <p class="sectionSubTag text-small">The last capital city of independent Bengal before British rule was named after Nawab Murshid Quli Khan, the Dewan of Bengal, Bihar and Odisha. Situated on the banks of the Bhagirathi, it is a city of splendour and is famous for its silk. It was made the capital of Bengal in 1717. The British shifted the capital to Kolkata in 1773. Plassey (Palashi), where the historic battle was fought in 1757 between Nawab Siraj-ud-Doula and Lord Clive of the East India Company, is only 40 km south of Murshidabad. From the Nawabs of the pre-British era to the Lords from England, Murshidabad has seen history from its core. This small tourist haven in West Bengal serves as a place that manages to combine the beauty of the past with the beliefs of the present. Hazarduari Palace, Katra Masjid, Char Bangla Temple, Imambara are some of the historic places to visit here.</p>
    </div>
</section>

<section class="secRight">
    <div class="paras">
        <p class="sectionTag text-big">Shantiniketan</p>
            <p class="sectionSubTag text-small">Santiniketan is a popular tourist attraction of international  repute. It is a famous cultural and heritage place of historical importance.  Rabindranath lived here and penned many of his literary classics (namely Tagore songs, poems, novels etc. The Santiniketan campus is adorned by splendid sculptures, frescoes, murals, and paintings of Rabindranath, Nandalal Bose, Ramkinkar, Binodbehari Mukhopadhyay and others. Birbhum District, where the Santiniketan is located, is also famous for its fairs and festivals like Poush Mela (December), Joydev Mela (January), Basanta Utsav (Holi) in March and the famous mystic Baul Singers.</p>
    </div>
    <div class="thumbnail">
        <img src="../static/images/shantiniketan.jpg" alt="Shantiniketan" class="imgFluid">
    </div>
</section>

<section class="secRight">
    <div class="thumbnail">
        <img src="../static/images/bishnupur.jpg" alt="Bishnupur" class="imgFluid">
    </div>
    <div class="paras">
        <p class="sectionTag text-big">Bishnupur</p>
            <p class="sectionSubTag text-small">Bishnupur is a town in the Bankura District of West Bengal and located at about 132 km from Kolkata. It is famous for its terracotta temples and Baluchari sarees. The town has a glorious past that is reflected in its rich architecture, music and handicrafts such as pottery and weaving. It prospered in the 17th and early 18th centuries. Ruled by a line of Hindu Rajas of the Malla dynasty, Bishnupur developed a unique form of architecture and has perhaps the most brilliant and detailed terracotta work in Eastern India that has withstood the ravages of time. The Terracotta tiles depict stories from Ramayana and Mahabharata. The Temples like the Shyam Ray Temple, the twin shrines of Jorbangla and the Rasmancha are a must visit. Apart from its heritage, Bishnupur is also known for its traditional handloom sarees. Pottery, artifacts and even jewellery made of terracotta in Bishnupur are also very popular.</p>
    </div>
</section>

<section class="secRight">
    <div class="paras">
        <p class="sectionTag text-big">Mirik</p>
            <p class="sectionSubTag text-small">Mirik is a picturesque tourist spot nestled in the serene hills of Darjeeling district in West Bengal, India. The name Mirik comes from the Lepcha words Mir-Yok meaning "place burnt by fire". Mirik has become a popular tourist destination for its climate, natural beauty and easy accessibility. The centre of all attraction is the Sumendu lake, surrounded by a garden on one side and pine trees on the other and linked together by an arching footbridge called Indreni Pull (Rainbow Bridge). A 3.5-km-long road encircles the lake and is used for walks with the view of Kanchenjunga on the far horizon. Boating on the quaint shikaras and pony riding are available. It is a hill resort at an altitude of 1767 m with its own special charms. The distance from Darjeeling is around 49 km, Ghoom 41 km, Kurseong 46 km, Bagdogra 55 km, and Siliguri 52 km.</p>
    </div>
    <div class="thumbnail">
        <img src="../static/images/mirik.jpg" alt="Mirik" class="imgFluid">
    </div>
</section>

<section class="secRight">
    <div class="thumbnail">
        <img src="../static/images/mukutmanipur.jpeg" alt="Mukutmanipur" class="imgFluid">
    </div>
    <div class="paras">
        <p class="sectionTag text-big">Mukutmanipur</p>
            <p class="sectionSubTag text-small">It is an ideal getaway where the second largest earthen dam in India is surrounded by mysterious hillocks like a crown or “Mukut”. Nestled at the confluence of two rivers, it is famous for its necklace shaped dam in the green wrapped “Rangamati”. Blessed with the serene nature and breathtaking view of the azure water, Mukutmanipur is a hidden treasure surrounded by green forests and hillocks. Mukutmanipur Dam is considered as the second largest dam in India. Far away from crowd and commercialization, a part of Mukutmanipur still lives in the aroma of tribal culture and offers spectacular sights to the tourists. It is also considered to be a dream destination for photography.</p>
    </div>
</section>

<section class="secRight">
    <div class="paras">
        <p class="sectionTag text-big">Purulia</p>
            <p class="sectionSubTag text-small">Purulia is a land of natural beauty. The lush green landscape, verdant hills and dense forests make it a perfect tourist destination that gives a rustic ambience and peaceful surroundings to weary city dwellers. This westernmost district of West Bengal unravels her untapped mystery and wondrous beauty. The landscape is rocky and undulating. The tourism of Purulia centres round its hills, forests as well as its archeological excavations and the relics of ancient buildings and temples. Tribal ethos enriches the mystic charm and natural beauty of this land of red soil and red blooms of Palash. The region is home to different tribal communities like Santhals, Kurmis, Kherias-Sabars to name a few. Song and dance are an intrinsic part in the lives of the tribal people.</p>
    </div>
    <div class="thumbnail">
        <img src="../static/images/purulia.jpg" alt="Purulia" class="imgFluid">
    </div>
</section>

<section class="secRight">
    <div class="thumbnail">
        <img src="../static/images/digha.jpg" alt="Digha" class="imgFluid">
    </div>
    <div class="paras">
        <p class="sectionTag text-big">Digha</p>
            <p class="sectionSubTag text-small">Digha is the most popular sea beach in West Bengal. It is located 187 km south-west of Kolkata. Digha has a low gradient with shallow sand beach that extends up to 7 km in length and has gentle rolling waves. The scenic beauty of this place is charming and alluring. The beach is girdled with casuarinas plantations along the coast which enhances its beauty. Apart from beautification these trees also help in reducing erosion of the dunes. One can enjoy both the sunrise and sunset at the Digha sea beach. The sunset and sunrise reflecting the salty waters of the Bay of Bengal is something straight off an artist's canvas. The sea at Digha is calm and shallow for about a mile from the beach making it quite safe for swimming.</p>
    </div>
</section>

</div>
{% endblock body %}